h1 {
  border: 3px;
  color: aqua;
  text-align: center;
}
span {
  font-family: "Ballet", cursive;
}

table {
    border-spacing: 10px;
  }
td {
  height: 200px;
  padding: 100px;
  border: 6px solid white;
  border-spacing: 200px;
}
#a{
    background: #264653;
}
#b{
    background: #264653;
}
#c{
    background: #264653;
}
#d{
    background: #264653;
}
#e{
    background: #264653;
}