h1 {
  border: 3px;
  color: aqua;
  text-align: center;
}
span {
  font-family: "Ballet", cursive;
}

/* tab{
    
} */
td {
  height: 200px;
  padding: 100px;
  border: 6px solid violet;
  border-spacing: 200px;
}
